name: Build and deploy Python project to Azure Function App - sspengMock

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: "3.13"
  FUNCTION_FOLDER: "MockApiFunction"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Zip ONLY the function folder + requirements + host.json
      - name: Create deployment package
        run: |
          zip -r release.zip \
            ${{ env.FUNCTION_FOLDER }} \
            host.json \
            requirements.txt

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7089FFB24B90463D9C2613A0337E332C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C8FE25CDA2AF451A8BDED065A8B59C38 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_48D52DAB53B44224B0D622F72ADD19BA }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: "sspengMock"
          slot-name: "Production"
          package: "."
